.checkOutForm {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    text-align: center;
    width: 100%;
}

#checkoutField > h1 {
    font-size: 1em;
}

#userData {
    padding: 40px;
    text-align: center;
}

input[type=text] {
    margin: 5px;
}

#shippers {
    width: 80%;
    text-align: center;
}

.categoryTitle {
    text-align: center;
    font-size: 1em;
    margin: 0.5em;
}

