
#loginDiv, #logoutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#usernameInput {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#passwordInput {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

h1 {
    color: #333333;
    margin-bottom: 10px;
}

#loginButton {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  #333333;
    color: white;
    border-radius: 5px;
    outline: none;
    width: 100px;
}

#loginButton:hover {
    cursor: pointer;
    background-color: #706C61;
}