.shipperDiv {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
}

.shipperID, .shipperName, .shipperInfo {
    width: 100%;
}

.shipperName {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.shipperID {
    font-size: 1.5em;
}

/* .buttonDiv {
    background-color: #333333;
    width: 20%;
} */

.chooseShipper {
    color: white;
    border: none;
    width: 100%;
    font-size: 1em;
}

@media only screen and (max-width: 800px) {
    p {
        font-size: 0.5em;
    }
    .shipperDiv {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .shipperName {
        font-size: 1em;
        width: 90%;
    }

    .shipperInfo, .shipperID {
        width: 50%;
    }
}