*  {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#allProducts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
body {
    padding: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.hero {
    display: flex;
    width: 30vw;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}
main {
    margin-top: 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #000 1px solid;
    margin-bottom: 1em;
    margin-top: 0.2em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #480007;
  }
p {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    font-size: 1em;
    color: #000;
    line-break: auto;
}
h1 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.75em;
    color: #000;
    text-align: center;
}
h2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.5em;
    color: #000;
    text-align: center;
}
h3 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1em;
    color: #000;
    text-align: center;
}
h4 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 0.75em;
    color: rgb(146, 34, 34);
    text-align: center;
}
input[type=text], select {
    padding: 8px 8px;
    margin: 0.2em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=password], select {
    padding: 8px 8px;
    margin: 0.2em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.btn {
      margin: 0.2em;
      width: auto;
      height: 2.5em;
  }
.menu-bar {
    background-image: linear-gradient(-90deg, #eeeed9, #ddd5d5);
    padding: 0em 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: #000 1px solid;
    z-index: 10;
}

.navbar-light {
    padding: 1em;
}
.card {
    margin: 0.5em;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 30%;
}
footer {
    background-image: linear-gradient(-90deg, #eeeed9, #ddd5d5);
    padding: 1em;
    margin-top: 1em;
    height: auto;
    border-top: #000 1px solid;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
#productsInCart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-product {
    width: 90%;
    height: auto;
}
.img-cart {
    height: 10%;
    width: 10%;
}
.cart-card {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 90vw;
    height: 20%;
    border-bottom: #000 1px solid;
}
#goToCheckout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    width: auto;
}
#categoryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
#allCategories {
    display: flex;
    align-items: center;
    justify-content: center;
}
#shippers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


